<section class="section pt-0 my-0 pb-0 min-height-screen border-0 bg-color-dark-scale-3" id="demos">
	<div class="container-fluid">
		<div class="row justify-content-center py-4 py-sm-0 bg-color-dark-scale-2">
			<div class="col-auto col-sm-12 col-md-auto">
				<ul class="nav nav-light nav-active-style-1 sort-source justify-content-center flex-column flex-sm-row"
					data-sort-id="portfolio" data-option-key="filter">
					<li class="nav-item" data-option-value="*">
						<a class="nav-link font-weight-semibold text-2 active" href="#">SHOW ALL</a>
					</li>
					<li class="nav-item" data-option-value=".creative">
						<a class="nav-link font-weight-semibold text-2" href="#">CREATIVE</a>
					</li>
					<li class="nav-item" data-option-value=".onepage">
						<a class="nav-link font-weight-semibold text-2" href="#">ONE PAGE</a>
					</li>
					<li class="nav-item" data-option-value=".business">
						<a class="nav-link font-weight-semibold text-2" href="#">BUSINESS</a>
					</li>
					<li class="nav-item" data-option-value=".portfolio">
						<a class="nav-link font-weight-semibold text-2" href="#">PORTFOLIO</a>
					</li>
					<li class="nav-item" data-option-value=".blog">
						<a class="nav-link font-weight-semibold text-2" href="#">BLOG</a>
					</li>
					<li class="nav-item" data-option-value=".classic">
						<a class="nav-link font-weight-semibold text-2" href="#">CLASSIC</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row min-height-screen">
			<div class="col min-height-screen">
				<div class="sort-destination-loader min-height-screen mt-5 pt-2 px-4">
					<div class="row portfolio-list sort-destination overflow-visible" data-sort-id="portfolio">

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item classic px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
								<div class="portfolio-item hover-effect-1">
									<a href="index-classic.html">
										<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
											<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
												<img src="img/previews/preview-classic.jpg"
													 class="img-fluid border-radius-0" alt="">
											</span>
										</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center">
										<a href="index-classic.html"
										   class="text-color-light text-decoration-none text-1 text-uppercase">
											Classic
										</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item onepage px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-one-page.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-one-page.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-one-page.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">One
																																							   Page</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="400">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-corporate.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																																							   1</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="600">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-2.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-2.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-corporate-2.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																																							   2</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-3.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-3.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-corporate-3.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																																							   3</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-4.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-4.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-corporate-4.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																																							   4</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="400">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-5.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-5.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-corporate-5.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																																							   5</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="600">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-6.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-6.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-corporate-6.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																																							   6</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-7.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-7.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-corporate-7.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																																							   7</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-8.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-8.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-corporate-8.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																																							   8</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-9.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-9.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-corporate-9.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																																							   9</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-10.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-10.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-10.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													10</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-11.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-11.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-11.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													11</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-12.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-12.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-12.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													12</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-13.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-13.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-13.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													13</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-14.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-14.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-14.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													14</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-15.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-15.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-15.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													15</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-16.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-16.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-16.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													16</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-17.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-17.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-17.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													17</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-18.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-18.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-18.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													18</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-19.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-19.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-19.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													19</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-20.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-20.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-20.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Corporate
																													20</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item portfolio px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-portfolio.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-portfolio.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-portfolio.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Portfolio
																																							   1</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item portfolio px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-portfolio-2.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-portfolio-2.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-portfolio-2.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Portfolio
																																							   2</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item portfolio px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-portfolio-3.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-portfolio-3.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-portfolio-3.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Portfolio
																																							   3</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item portfolio px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-portfolio-4.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-portfolio-4.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-portfolio-4.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Portfolio
																																							   4</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item portfolio px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-portfolio-5.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-portfolio-5.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-portfolio-5.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Portfolio
																																							   5</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item blog px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-blog.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-blog.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-blog.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Blog
																																							   1</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item blog px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-blog-2.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-blog-2.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-blog-2.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Blog
																																							   2</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item blog px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-blog-3.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-blog-3.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-blog-3.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Blog
																																							   3</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item blog px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-blog-4.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-blog-4.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="index-blog-4.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Blog
																																							   4</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="400">
								<div class="portfolio-item hover-effect-1">
									<a href="index-corporate-hosting.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-corporate-hosting.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-corporate-hosting.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Hosting</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item classic px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="600">
								<div class="portfolio-item hover-effect-1">
									<a href="index-classic-color.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-classic-color.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-classic-color.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Classic
																													Color</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item classic px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
								<div class="portfolio-item hover-effect-1">
									<a href="index-classic-light.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-classic-light.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-classic-light.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Classic
																													Light</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item classic px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="index-classic-video.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-classic-video.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-classic-video.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Classic
																													Video</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item classic px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="400">
								<div class="portfolio-item hover-effect-1">
									<a href="index-classic-video-light.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-classic-video-light.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="index-classic-video-light.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Classic
																													Video
																													Light</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="600">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-construction.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-construction.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-construction.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Construction</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-business-consulting.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-business-consulting.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="demo-business-consulting.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Business
																													Consulting</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-medical.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-medical.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-medical.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Medical</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="400">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-finance.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-finance.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-finance.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Finance</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="600">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-insurance.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-insurance.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-insurance.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Insurance</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-education.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-education.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-education.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Education</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-digital-agency.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-digital-agency.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="demo-digital-agency.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Digital
																													Agency</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="400">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-law-firm.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-law-firm.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-law-firm.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Law
																																							   Firm</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item creative px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="600">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-app-landing.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-app-landing.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-app-landing.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">App
																																							   Landing</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item portfolio creative px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-resume.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-resume.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-resume.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">CV
																																							   -
																																							   Portfolio
																																							   -
																																							   Resume</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-hotel.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-hotel.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-hotel.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Hotel</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="400">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-real-estate.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-real-estate.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-real-estate.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Real
																																							   Estate</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item creative business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="600">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-event.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-event.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-event.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Event</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-restaurant.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-restaurant.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-restaurant.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Restaurant</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-gym.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-gym.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-gym.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Gym</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item onepage creative px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="400">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-one-page-agency.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-one-page-agency.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="demo-one-page-agency.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">One
																													Page
																													Agency</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item portfolio px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="600">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-photography.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-photography.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-photography.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Photography</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item portfolio px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-photography-2.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-photography-2.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="demo-photography-2.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Photography
																													2</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item portfolio px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-photography-3.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-photography-3.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="demo-photography-3.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Photography
																													3</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item business px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="400">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-church.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-church.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-church.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Church</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item creative px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="600">
								<div class="portfolio-item hover-effect-1">
									<a href="demo-wedding.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-wedding.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a href="demo-wedding.html"
																						   class="text-color-light text-decoration-none text-1 text-uppercase">Wedding</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item classic px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
								<div class="portfolio-item hover-effect-1">
									<a href="feature-layout-boxed.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-boxed.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="feature-layout-boxed.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">Boxed</a>
									</h2>
								</div>
							</div>
						</div>

						<div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item classic px-4">
							<div class="appear-animation" data-appear-animation="fadeInUp"
								 data-plugin-options="{'accY': -150}" data-appear-animation-delay="200">
								<div class="portfolio-item hover-effect-1">
									<a href="feature-layout-rtl.html">
														<span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
															<span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
																<img src="img/previews/preview-rtl.jpg"
																	 class="img-fluid border-radius-0" alt="">
															</span>
														</span>
									</a>
									<h2 class="font-weight-semibold text-3 text-center"><a
												href="feature-layout-rtl.html"
												class="text-color-light text-decoration-none text-1 text-uppercase">RTL</a>
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-4 bg-color-dark-scale-3 pb-5 p-relative z-index-1">
			<div class="col text-center mt-3 mb-5">
				<p>Sure! <strong class="text-color-light">All demos are included</strong>, choose one and start right
				   now to build your website.</p>
				<a href="index-classic.html"
				   class="btn btn-light-2 btn-outline btn-rounded btn-xl font-weight-semibold text-2 px-5 py-3 box-shadow-2 appear-animation"
				   data-appear-animation="fadeInUp" data-appear-animation-delay="800">VIEW MAIN DEMO</a>
			</div>
		</div>
	</div>
</section>
