<section class="call-to-action {% if full is defined and full == true %}with-full-borders{% else %}with-borders{% endif %} mb-5">
	<div class="col-sm-9 col-lg-9">
		<div class="call-to-action-content">
			<h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a
				<strong class="font-weight-extra-bold">website!</strong></h3>
			<p class="mb-0">The <strong class="font-weight-extra-bold">Best</strong> HTML Site Template
							on ThemeForest</p>
		</div>
	</div>
	<div class="col-sm-3 col-lg-3">
		<div class="call-to-action-btn">
			<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
			   target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
		</div>
	</div>
</section>
