<section class="section section-height-4 bg-color-primary border-0 my-0">
	<div class="container-fluid">
		<div class="row justify-content-center pb-4 mb-5">
			<div class="col-12 col-sm-auto text-center mt-5">
				<span class="d-block font-weight-light text-left text-color-light negative-ls-1 text-5 ml-2 appear-animation" data-appear-animation="fadeInUp"><em class="opacity-8">Start right now!</em></span>
				<h1 class="font-weight-extra-bold text-color-light text-10 mb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><em>THE BEST HTML THEME EVER!</em></h1>
				<span class="d-block text-sm-right alternative-font text-color-light text-6 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400">Join The 30,000+ Happy Customers :)</span>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<p class="text-color-light text-4 font-weight-light mb-1 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">Porto Admin Integration<span class="text-1">*</span> - 100% Fully Responsive - Retina Ready - Google Fonts - Super Fast</p>
				<p class="text-color-light text-4 font-weight-light pb-3 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800">Top-Level Support - Customizable - RTL Support - SEO Friendly</p>
				<a href="https://themeforest.net/item/porto-responsive-html5-template/4106987" class="btn btn-dark btn-rounded btn-xl font-weight-semibold text-2 px-5 py-3 mb-5 box-shadow-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800">PURCHASE PORTO</a>
				<div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
					<p class="text-color-light opacity-9">* LEARN MORE ABOUT <a href="http://www.okler.net/forums/topic/how-to-integrate-porto-admin-extension-on-porto/" target="_blank" class="d-inline-block text-color-light"><strong><u>PORTO ADMIN INTEGRATION</u></strong></a></p>
				</div>
			</div>
		</div>
	</div>
</section>
