
<section class="section section-height-3 bg-color-light border-0 my-0">
	<div class="container-fluid px-md-0 px-lg-3 px-xl-0">
		<div class="row">
			<div class="col py-4">
				<div class="owl-carousel owl-theme mb-0" data-plugin-options="{'autoplay': true, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'autoHeight': true, 'center': true, 'loop': true, 'nav': false, 'dots': false, 'margin': 40}">

					<div>
						<div class="card">
							<div class="card-body p-5">
								<h2 class="text-color-dark font-weight-semibold line-height-1 text-4 mb-2">majstro7</h2>
								<p class="font-weight-light text-2 line-height-1 mb-2 pb-1">Themeforest User</p>
								<div class="rate mb-2 pb-1">
									<i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i>
								</div>
								<p class="mb-0">Good code quality ! Very fast and good support ! I recommended it in 100% !</p>
							</div>
						</div>
					</div>

					<div>
						<div class="card">
							<div class="card-body p-5">
								<h2 class="text-color-dark font-weight-semibold line-height-1 text-4 mb-2">daniyal1997</h2>
								<p class="font-weight-light text-2 line-height-1 mb-2 pb-1">Themeforest User</p>
								<div class="rate mb-2 pb-1">
									<i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i>
								</div>
								<p class="mb-0">Customer support alone is worth it's weight in gold.</p>
							</div>
						</div>
					</div>

					<div>
						<div class="card">
							<div class="card-body p-5">
								<h2 class="text-color-dark font-weight-semibold line-height-1 text-4 mb-2">MultiCoastMedia</h2>
								<p class="font-weight-light text-2 line-height-1 mb-2 pb-1">Themeforest User</p>
								<div class="rate mb-2 pb-1">
									<i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i>
								</div>
								<p class="mb-0">This theme continues to blow my mind! I can't believe how many features and layouts that are included and yet how elegantly it's all executed underneath.</p>
							</div>
						</div>
					</div>

					<div>
						<div class="card">
							<div class="card-body p-5">
								<h2 class="text-color-dark font-weight-semibold line-height-1 text-4 mb-2">alfvlx</h2>
								<p class="font-weight-light text-2 line-height-1 mb-2 pb-1">Themeforest User</p>
								<div class="rate mb-2 pb-1">
									<i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i>
								</div>
								<p class="mb-0">The best template i had work on!!!!!</p>
							</div>
						</div>
					</div>

					<div>
						<div class="card">
							<div class="card-body p-5">
								<h2 class="text-color-dark font-weight-semibold line-height-1 text-4 mb-2">marcoss2009</h2>
								<p class="font-weight-light text-2 line-height-1 mb-2 pb-1">Themeforest User</p>
								<div class="rate mb-2 pb-1">
									<i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i>
								</div>
								<p class="mb-0">The best theme in Themeforest. I like it because I can customize it without problems.</p>
							</div>
						</div>
					</div>

					<div>
						<div class="card">
							<div class="card-body p-5">
								<h2 class="text-color-dark font-weight-semibold line-height-1 text-4 mb-2">moirajanetallen</h2>
								<p class="font-weight-light text-2 line-height-1 mb-2 pb-1">Themeforest User</p>
								<div class="rate mb-2 pb-1">
									<i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i>
								</div>
								<p class="mb-0">Very impressed with the great customer support.</p>
							</div>
						</div>
					</div>

					<div>
						<div class="card">
							<div class="card-body p-5">
								<h2 class="text-color-dark font-weight-semibold line-height-1 text-4 mb-2">onealbs</h2>
								<p class="font-weight-light text-2 line-height-1 mb-2 pb-1">Themeforest User</p>
								<div class="rate mb-2 pb-1">
									<i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i>
								</div>
								<p class="mb-0">I have purchased this template four times for different projects and will soon be purchasing my fifth. This options for this template are limitless and customer service is amazing!</p>
							</div>
						</div>
					</div>

					<div>
						<div class="card">
							<div class="card-body p-5">
								<h2 class="text-color-dark font-weight-semibold line-height-1 text-4 mb-2"> mrmelton</h2>
								<p class="font-weight-light text-2 line-height-1 mb-2 pb-1">Themeforest User</p>
								<div class="rate mb-2 pb-1">
									<i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i><i class="fas fa-star text-color-primary text-2"></i>
								</div>
								<p class="mb-0">This template is pure joy to work with and customize. Everything is designed so clearly and it just makes your life easier to design a site. Highly recommend.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
