{% extends '@SixnappsPortoTemplate/layout.html.twig' %}

{% block body_class %}{% endblock body_class %}

{% block header %}
	{% include('@SixnappsPortoTemplate/components/headers/header.html.twig') %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
	<section
			class="page-header page-header-modern page-header-background page-header-background-sm overlay overlay-color-primary overlay-show overlay-op-8 mb-5"
			style="background-image: url({{ asset('porto/img/page-header/page-header-elements.jpg') }});">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
					<h1>Call to Action</h1>

				</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb breadcrumb-light d-block text-center">
						<li><a href="#">Home</a></li>
						<li class="active">Elements</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container py-2">

		<div class="row">
			<div class="col">
				<h4>Default</h4>
				{{ include('@SixnappsPortoTemplate/components/call-to-actions/default.html.twig') }}

				<hr class="solid my-5">

				<h4>Borders</h4>
				{{ include('@SixnappsPortoTemplate/components/call-to-actions/borders.html.twig') }}
				{{ include('@SixnappsPortoTemplate/components/call-to-actions/borders.html.twig', {full:true}) }}


				<hr class="solid my-5">

				<h4>Featured</h4>
				{{ include('@SixnappsPortoTemplate/components/call-to-actions/featured.html.twig') }}

				<section class="call-to-action featured featured-secondary mb-5">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content">
							<h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a
								<strong class="font-weight-extra-bold">website!</strong></h3>
							<p class="mb-0">The <strong class="font-weight-extra-bold">Best</strong> HTML Site Template
											on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-secondary">Buy Now</a>
						</div>
					</div>
				</section>

				<section class="call-to-action featured featured-tertiary mb-5">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content">
							<h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a
								<strong class="font-weight-extra-bold">website!</strong></h3>
							<p class="mb-0">The <strong class="font-weight-extra-bold">Best</strong> HTML Site Template
											on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-tertiary">Buy Now</a>
						</div>
					</div>
				</section>

				<section class="call-to-action featured featured-quaternary mb-5">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content">
							<h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a
								<strong class="font-weight-extra-bold">website!</strong></h3>
							<p class="mb-0">The <strong class="font-weight-extra-bold">Best</strong> HTML Site Template
											on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-quaternary">Buy Now</a>
						</div>
					</div>
				</section>

				<hr class="solid my-5">

				<h4>Colors</h4>
				<section class="call-to-action call-to-action-primary mb-5">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content">
							<h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
							<p class="mb-0 opacity-7">The <strong class="font-weight-extra-bold">Best</strong> HTML Site
													  Template on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
						</div>
					</div>
				</section>

				<section class="call-to-action call-to-action-secondary mb-5">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content">
							<h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
							<p class="mb-0 opacity-7">The <strong class="font-weight-extra-bold">Best</strong> HTML Site
													  Template on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
						</div>
					</div>
				</section>

				<section class="call-to-action call-to-action-tertiary mb-5">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content">
							<h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
							<p class="mb-0 opacity-7">The <strong class="font-weight-extra-bold">Best</strong> HTML Site
													  Template on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
						</div>
					</div>
				</section>

				<section class="call-to-action call-to-action-quaternary mb-5">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content">
							<h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
							<p class="mb-0 opacity-7">The <strong class="font-weight-extra-bold">Best</strong> HTML Site
													  Template on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
						</div>
					</div>
				</section>

				<section class="call-to-action call-to-action-default mb-5">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content">
							<h3>Porto is <strong>everything</strong> you need to create a <strong>website!</strong></h3>
							<p class="mb-0">The <strong class="font-weight-extra-bold">Best</strong> HTML Site Template
											on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-light">Buy Now</a>
						</div>
					</div>
				</section>

				<hr class="solid my-5">

				<h4>With Arrow</h4>
				<section class="call-to-action with-borders with-button-arrow mb-5">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content">
							<h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a
								<strong class="font-weight-extra-bold">website!</strong></h3>
							<p class="mb-0">The <strong class="font-weight-extra-bold">Best</strong> HTML Site Template
											on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a><span
									class="arrow hlb d-none d-md-block" data-appear-animation="rotateInUpLeft"
									style="left: 100%; top: -32px;"></span>
						</div>
					</div>
				</section>

				<hr class="solid my-5">

				<h4>Animated</h4>
				<section class="call-to-action with-borders mb-5 appear-animation" data-appear-animation="fadeIn">
					<div class="col-sm-9 col-lg-9">
						<div class="call-to-action-content">
							<h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a
								<strong class="font-weight-extra-bold">website!</strong></h3>
							<p class="mb-0">The <strong class="font-weight-extra-bold">Best</strong> HTML Site Template
											on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-3 col-lg-3">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
						</div>
					</div>
				</section>

				<hr class="solid my-5">

				<h4>Button Centered</h4>
				<section class="call-to-action with-borders button-centered mb-5">
					<div class="col-12">
						<div class="call-to-action-content">
							<h3>Porto is <strong class="font-weight-extra-bold">everything</strong> you need to create a
								<strong class="font-weight-extra-bold">website!</strong></h3>
							<p class="mb-0">The <strong class="font-weight-extra-bold">Best</strong> HTML Site Template
											on ThemeForest</p>
						</div>
					</div>
					<div class="col-12">
						<div class="call-to-action-btn">
							<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
							   target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
						</div>
					</div>
				</section>

				<hr class="solid my-5">

				<h4>Small</h4>
				<div class="row">
					<div class="col-lg-4">
						<section class="call-to-action with-borders button-centered mb-5">
							<div class="col-12">
								<div class="call-to-action-content">
									<h3>Porto is <strong>everything</strong> you need to create a
										<strong>website!</strong></h3>
									<p class="mb-0">The <strong class="font-weight-extra-bold">Best</strong> HTML Site
													Template on ThemeForest</p>
								</div>
							</div>
							<div class="col-12">
								<div class="call-to-action-btn">
									<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
									   target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
								</div>
							</div>
						</section>
					</div>
					<div class="col-lg-4">
						<section class="call-to-action call-to-action-primary button-centered mb-5">
							<div class="col-12">
								<div class="call-to-action-content">
									<h3>Porto is <strong>everything</strong> you need to create a
										<strong>website!</strong></h3>
									<p class="mb-0 opacity-7">The <strong class="font-weight-extra-bold">Best</strong>
															  HTML Site Template on ThemeForest</p>
								</div>
							</div>
							<div class="col-12">
								<div class="call-to-action-btn">
									<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
									   target="_blank" class="btn btn-modern text-2 btn-light border-0">Buy Now</a>
								</div>
							</div>
						</section>
					</div>
					<div class="col-lg-4">
						<section class="call-to-action call-to-action-quaternary button-centered mb-5">
							<div class="col-12">
								<div class="call-to-action-content">
									<h3>Porto is <strong>everything</strong> you need to create a
										<strong>website!</strong></h3>
									<p class="mb-0 opacity-7">The <strong class="font-weight-extra-bold">Best</strong>
															  HTML Site Template on ThemeForest</p>
								</div>
							</div>
							<div class="col-12">
								<div class="call-to-action-btn">
									<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987"
									   target="_blank" class="btn btn-modern text-2 btn-primary">Buy Now</a>
								</div>
							</div>
						</section>
					</div>
				</div>

				<hr class="solid my-5">
			</div>
		</div>
	</div>

{% endblock %}

{% block footer %}
	{% include('@SixnappsPortoTemplate/components/footers/footer.html.twig') %}
{% endblock footer %}
