<section class="section section-height-3 border-0 my-0">
	<div class="container container-lg">
		<div class="row align-items-center">
			<div class="col">
				<span class="d-block font-weight-light negative-ls-1 text-5 mb-1 mt-3 appear-animation" data-appear-animation="fadeInUp"><em class="text-2 opacity-8">Easy to use</em></span>
				<h1 class="font-weight-extra-bold text-color-dark negative-ls-3 line-height-1 text-7 mb-3 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><em>ELEMENTS FOR EVERYTHING</em></h1>
				<p class="lead mb-4 pb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">Use your creativity and the power of Porto elements to create your pages, check out some of them.</p>
				<div class="row justify-content-center">

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-accordions.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-bars"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-bars"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Accordions</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-toggles.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-indent"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-indent"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Toggles</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-tabs.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-columns"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-columns"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Tabs</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-icons.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-check"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-check"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Icons</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-icon-boxes.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-check-circle"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-check-circle"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Icon Boxes</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-carousels.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-ellipsis-h"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-ellipsis-h"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Carousels</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-modals.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-expand"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-expand"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Modals</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-lightboxes.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-clone"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-clone"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Lightboxes</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-buttons.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-minus"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-minus"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Buttons</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-badges.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-bars"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-bars"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Badges</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-lists.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-list-ul"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-list-ul"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Lists</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-image-gallery.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-file-image"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-file-image"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Image Gallery</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-image-frames.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-images"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-images"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Image Frames</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-testimonials.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-comments"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-comments"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Testimonials</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-blockquotes.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-quote-left"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-quote-left"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Blockquotes</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-word-rotator.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fab fa-autoprefixer"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fab fa-autoprefixer"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Word Rotator</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-call-to-action.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-external-link-alt"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-external-link-alt"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Call to Action</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-pricing-tables.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-dollar-sign"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-dollar-sign"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Pricing Tables</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-tables.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-table"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-table"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Tables</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-progressbars.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-chart-bar"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-chart-bar"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Progress Bars</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-counters.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-sort-numeric-down"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-sort-numeric-down"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Counters</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-countdowns.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-clock"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-clock"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Countdowns</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-sections-parallax.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-images"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-images"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Sections &amp; Parallax</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-tooltips-popovers.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-comment-alt"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-comment-alt"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Tooltips &amp; Popovers</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-sticky-elements.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-compress"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-compress"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Sticky Elements</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-headings.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-text-height"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-text-height"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Headings</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-dividers.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-align-center"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-align-center"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Dividers</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-animations.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-asterisk"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-asterisk"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Animations</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-medias.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-play-circle"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-play-circle"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Medias</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-maps.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-map"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-map"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Maps</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-arrows.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-arrow-alt-circle-right"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-arrow-alt-circle-right"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Arrows</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-alerts.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="fas fa-exclamation-triangle"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="fas fa-exclamation-triangle"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Alerts</span>
													</span>
								</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-lg-2">
						<div class="featured-boxes featured-boxes-modern-style-2 featured-boxes-modern-style-2-hover-only featured-boxes-modern-style-primary m-0 mb-4 pb-3">
							<div class="featured-box featured-box-no-borders featured-box-box-shadow">
								<a href="elements-posts.html" class="text-decoration-none">
													<span class="box-content px-1 py-4 text-center d-block">
														<span class="text-primary text-8 position-relative top-3 mt-3"><i class="far fa-calendar-alt"></i></span>
														<span class="elements-list-shadow-icon text-default"><i class="far fa-calendar-alt"></i></span>
														<span class="font-weight-bold text-uppercase text-1 negative-ls-1 d-block text-dark pt-2">Posts</span>
													</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
